* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    /* primary colors */
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    /* neutral colors */
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
    /*liner-gradients*/
    --Linear-dark-to-grey: linear-gradient(to bottom, hsl(218, 23%, 16%), hsl(217, 19%, 24%) );
    --Linear-grey-to-blue: linear-gradient(to bottom, hsl(217, 19%, 24%), hsl(217, 19%, 38%) );
}

body {
    min-height: 100vh;
    width: 23.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: var(--Dark-Blue);
    font-family: Manrope;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    width: 21.4rem;
    min-height: 19.6rem;
    background: var(--Linear-grey-to-blue);
    border-radius: .625rem;
    box-shadow: 1px 1px 6px 1px  hsl(217, 19%, 24%);
}

.main__header,
.main__article,
.main__divider,
.main__button {
    display: flex;
    justify-content: center;
}

.main__header-title {
    margin: 2.5rem 0 1.5rem 0;
    text-transform: uppercase;
    font-size: .6rem;
    letter-spacing: .2rem;
    color: var(--Neon-Green);
}

.main__article {
    align-items: center;
    min-height: 10rem;
}

.main__article-text {
    font-size: 1.3rem;
    font-weight: 800;
    color: var(--Light-Cyan);
    text-align: center;
}

.main__article-text::before {
    content: open-quote;
}

.main__article-text::after {
    content: close-quote;
}

.main__divider {
    margin: 0 0 2rem 0;
}

.main__divider::after {
    content: url('/images/pattern-divider-mobile.svg');
    scale: 90%;
}

.main__button {
    position: relative;
}

.main__button-dice {
    background-color: var(--Neon-Green);
    border: none;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -.4rem;
}

.main__button-dice:hover {
    cursor: pointer;
    box-shadow: 1px 1px  25px var(--Neon-Green);
    transition: 0.5s ;
}

.main__button-dice::after {
    content: url('/images/icon-dice.svg');
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer__credits {
    color: var(--Light-Cyan);
    font-size: .6rem;
}

.footer__credits-link {
    color: var(--Neon-Green);
}

@media (min-width: 768px) {
    .main {
        width: 30rem;
    }

    .main__divider::after {
        content: url('/images/pattern-divider-desktop.svg');
    }
}

@media (min-width: 1024px) {
    .main {
        width: 35rem;
    }

    body {
        justify-content: center;
        gap: 4rem;
    }
}